@media(max-width: 1280px) {
    html, body{
        font-size: 15px !important;
    }
    .container-multiple-slides .arrows {
        max-width: 94%;
    }
    
}

@media(max-width: 1100px) {
    .detailed-section .container-child .container-text {
        padding-left: 40px;
    }

}

@media(max-width: 1000px) {
    .container-multiple-slides {
        padding-bottom: 0;
    }

    .container-multiple-slides .container {
        flex-flow: column;
    }

    .container-multiple-slides .carroussel .slide .text-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: 320px;
    }

    .container-multiple-slides .carroussel .slide .container-image {
        max-width: 100%;
    }

    .container-multiple-slides .arrows {
        bottom: 0;
        height: auto;
        left: 0;
        margin: 26px auto;
        max-width: 100%;
        position: relative;
        right: 0;
        top: 0;
        width: 140px;
    }

    .detailed-section .container-child .container-text {
        padding-left: 30px;
    }

    .dropdown-section .dropdowns-container .dropdown .container-text {
        padding-left: 40px;
    }

    .dropdown-section {
        padding-bottom: 46px;
        padding-top: 50px;
    }
}

@media(max-width: 930px) {
    .detailed-section .container-child .container-image {
        margin-left: auto;
        margin-right: auto;
    }

    .detailed-section .container-child .container-text {
        margin-top: 34px;
        padding: 0;
        width: 100%;
    }

    .detailed-section .container-child .container-text * {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        text-align: center;
        width: 430px;
    }

}

@media(max-width: 810px) {
    .big-banner .floating-content {
        margin-top: 34px;
    }
    .big-banner .floating-content .text-container h1 {
        font-size: 3.2rem;
    }

    .big-banner .carroussel .slick-dots {
        height: 70px;
    }

    .big-banner .carroussel .slick-dots li button {
        height: 40px;
        width: 40px;
    }

    .big-banner .carroussel .slick-dots li button::before,
    .big-banner .carroussel .slick-dots li.slick-active button::before {
        border-width: 6px;
    }

    .container-multiple-slides {
        padding-top: 40px;
    }

    .dropdown-section .dropdowns-container .dropdown .container-text {
        padding-left: 20px;
    }

    .dropdown-section {
        padding-bottom: 30px;
        padding-top: 36px;
    }
    
}

@media(max-width: 680px) {
    .dropdown-section {
        padding: 18px 0;
    }

    .dropdown-section .dropdowns-container .dropdown.active .content-container {
        margin-top: 0;
    }
    .dropdown-section .dropdowns-container .dropdown .content-container .content {
        justify-content: center;
    }

    .dropdown-section .dropdowns-container .dropdown .container-text {
        margin: 0;
        margin-top: 20px;
        max-width: 100%;
        padding: 0;
        width: 430px;
    }

    .dropdown-section .dropdowns-container .dropdown .container-text p {
        text-align: center;
    }

    .dropdown-section .dropdowns-container .dropdown header {
        padding: 18px 14px 14px;
    }

    .dropdown-section .dropdowns-container .dropdown header span {
        font-size: 1.2rem;
    }

    .dropdown-section .dropdowns-container .dropdown header button {
        height: 24px;
        width: 24px;
    }
}

@media(max-width: 568px) {
    .big-banner .floating-content {
        background-color: #454545;
        margin-top: 0;
        position: relative;
    }

    .big-banner .floating-content a {
        bottom: -50px;
        position: absolute;
    }

    .big-banner .floating-content .text-container {
        padding-bottom: 18px;
        padding-top: 14px;
    }

    .big-banner .floating-content .text-container h1 {
        font-size: 2rem;
        color: #FEFEFE;
    }

    .big-banner .floating-content .text-container p {
        color: #FEFEFE;
        font-size: 1.0666666666666667rem;
    }

    .big-banner .carroussel .slick-dots {
        height: 40px;
    }

    .big-banner .carroussel .slick-dots li button {
        height: 30px;
        width: 30px;
    }

    .big-banner .carroussel .slick-dots li button::before,
    .big-banner .carroussel .slick-dots li.slick-active button::before {
        border-width: 4px;
    }

    .big-banner .carroussel .slide a{
        display: none;
    }

    .big-banner .carroussel .slide .mobile-image{
        display: block;
    }

    .container {
        padding: 0 10px;
    }
    
    .container-multiple-slides {
        padding-top: 16px;
    }

    .detailed-section .container-child .container-text {
        margin-top: 20px;
    }
}